@import '../../utils.scss';
.announcements {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  overflow-y: scroll;
	padding: $contentPadding;
  gap: 20px;
  .announcement-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
  }
}