.announcement {
  width: 100%;
  max-width: 750px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  .from {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    .from-info {
      display: flex;
      flex-direction: column;
    }
    img {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      object-fit: cover;
    }
    .from-name {
      font-size: 14px;
      font-weight: 500;
      color: #3e3e3e;
    }
    .timestamp {
      font-size: 12px;
      font-weight: 400;
      color: #8f8f8f;
    }
  }
  p {
    margin: 0;
  }
}