.card {
  padding: 20px;
  border-radius: 8px;
  // border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
  width: fit-content;
  background: white;
  &.stretch {
    width: auto !important;
    flex: 1 1 auto;
  }
}