@import '../../utils.scss';

// mixins
@mixin accountButton($color) {
	background: $color;
	padding: 8px 16px 8px 10px;
	cursor: pointer;
	color: white;
	border: none;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 6px;
	transition: 0.15s;
	&.expanded {
		padding: 8px 12px !important;
	}
	&:hover {
		background: darken($color, 5%);
	}
	&:active {
		background: darken($color, 10%);
	}
	span {
		white-space: nowrap;
		font-size: 16px;
		font-weight: 500;
	}
}

@mixin accountButtonOutlined($color) {
	@include accountButton($color);
	border: 1px solid $color;
	background: white;
	color: $color;
	&:hover {
		background: rgba($color, 0.25);
	}
}

.sidebar {
	//variables
	$borderColor: rgba(0 0 0 / 20%);
	$expandedWidth: 250px;
	$contractedWidth: 75px;
	$margin: 8px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	border-right: 1px solid $borderColor;
	padding: $margin;
	padding-top: 12px;
	transition: 0.25s ease-in-out;
	overflow: hidden;
	&.expanded {
		max-width: $expandedWidth;
		min-width: $expandedWidth;
		.sections {
			.section {
				gap: 10px;
			}
		}
	}
	&.contracted {
		max-width: $contractedWidth;
		min-width: $contractedWidth;
		.sections {
			.section {
				padding: 0;
				width: 100%;
				height: 58px;
				svg {
					width: 100%;
					aspect-ratio: 1;
				}
			}
		}
	}
	hr {
		height: 1px;
		width: 100%;
		padding: 0;
		margin: 0;
		background: $borderColor;
		border: none;
	}
	.sections {
		display: flex;
		flex-direction: column;
		gap: $margin;
		.section {
			//variables
			$borderRadius: 4px;

			width: 100%;
			height: 39px;
			padding: 0 30px;
			transition: 0.15s;
			cursor: pointer;
			border-top: none;
			border-radius: $borderRadius;
			position: relative;
			overflow: hidden;
			display: flex;
			align-items: center;
			white-space: nowrap;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				transition: background 0.15s, transform 0.3s ease-in-out;
				transform: scaleX(0);
				background: rgba($yellow, 0.25);
				transform-origin: left;
				border-radius: $borderRadius;
			}
			&:hover::before {
				transform: scaleX(1);
			}
			&.active {
				background: rgba($yellow, 0.5) !important;
				&::before {
					background: transparent !important;
				}
			}
		}
	}
	.expand-arrow-wrapper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		padding: 10px;
		&.right {
			justify-content: flex-end !important;
		}
		.sign-in-button {
			@include accountButton($yellow);
		}
		.sign-out-button {
			@include accountButtonOutlined($red);
		}
		.expand-arrow {
			height: 40px;
			aspect-ratio: 1;
			border: none;
			border-radius: 100px;
			transition: background 0.15s, transform 0.25s ease-in-out;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			&:hover {
				background: rgba(0, 0, 0, 0.125);
			}
			&.expanded {
				transform: rotate(180deg);
			}
		}
	}
}