.admin {
	.admin-content {
		display: flex;
		flex-direction: column;
		gap: 24px;
		.admin-cards {
			display: flex;
			flex-direction: row;
			gap: 24px;
			.profile-box {
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: space-between;
				padding: 8px;
				border: 1px solid rgba(0, 0, 0, 0.125);
				border-radius: 6px;
				.info {
					display: flex;
					flex-direction: column;
					gap: 8px;
					.profile {
						display: flex;
						align-items: center;
						gap: 10px;
					}
					p {
						margin: 2px;
						padding: 2px 8px;
						background: rgb(225, 225, 225);
						border-radius: 6px;
						cursor: default;
					}
				}
			}
		}
	}
}