@import '../../utils.scss';
.challenges-wrapper {
	padding: $contentPadding;
  .challenge-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}